
body { 
  background-color: DodgerBlue;
  color: yellow;
  font-family: Arial, sans-serif, Helvetica;
  Margin: 15% 5%
}

.Work-Header {
  text-transform: uppercase;
  border-top: 4px dotted black;
  border-bottom: 6px double black;
  background-color: rgba(0,0,0,0.3);
  border-radius: 20px;
    
}

.Hobby-Header{
  text-align: center;
  text-transform: uppercase;
  border-top: 5px groove purple;
  border-bottom: 5px ridge purple;
  background-color: rgba(0,0,0,0.2);
  border-radius: 100px;
}
